

.Banner{
    width: 300px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.Banner img{
    width: 40px;
    height: 40px;
}

.Banner h2{
    font-size: 30px;
    color: rgb(255, 0, 106);
}

.Banner p {
    font-size: 15px;
    color: rgb(140, 0, 255);
}

